@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700)
*
  font-family: Ubuntu

// helpers
.vertical-align
  align-items: center
  display: flex

.reverse
  flex-direction: row-reverse
  
.equal
  display: flex

.orange
  background-color: #ee5920

.no-border
  border: 0
  
.italic
  font-style: italic

.grey
  background-color: #f1f1f1
  
.black
  background-color: #363636
  color: white

// Centering the menu (vertically)
nav.menu
  transform: translateY(50%)
  
nav.menu a
  padding: 30px
  -webkit-user-select: none
  -moz-user-select: none

// Color it
.menu a
  color: black

// "Hack" for centering stuff "vertically"
.banner
  background-image: url(../images/banner.png)
  background-size: cover
  height: 100%
  display: flex
  align-items: flex-end
  
.learn-more
  transform: translate(50%,-200%)
  border-radius: 10px
  color: #ee5920
  font-weight: bold

.rural h2
  transform: translateY(25%)

  
// Make the thumbnails equal
.platforms img
  height: 100px

.partners img
  height: 65px

.approach img
  height: 90px

.press img
  height: 50px

// orange titles
.platforms h3, .platforms h2, .approach h3, .approach h2, .the_next_billion h2, .rural h2, .rural_about h3
  color: #ee5920
  font-weight: bold

// grey background
.the_next_billion .row, .approach .row, .approach .thumbnail, .press .row, .press .thumbnail, .rural .row
  background-color: #f1f1f1

// Some space between stuff
h2, .footer p, .rural_about h3, .rural_about img
  margin-top: 30px
  margin-bottom: 40px

.the_next_billion h2
  margin-top: 0px

.get_in_touch img
  padding-bottom: 40px

.thumbnail, .the_next_billion p
  margin-bottom: 40px

// Orange background
.get_in_touch .row
  background-color: #ee5920

// footer
.get_in_touch h2
  font-weight: bold
  color: white

.get_in_touch p, .footer p
  color: white
  margin-bottom: 40px

.footer .row
  background-color: #363636
 
