.row
  .col-md-12.orange
    %img{:src=>"images/banner.png"}

.row.grey
  .col-md-12
    %a.btn.btn-default.learn-more.text-uppercase
      Learn more

.the_next_billion
  .row
    .col-md-12
      %h2.text-center.text-uppercase
        The next billion
      %p.text-center
        We bring together members of our diverse community and organisations from public, private
        and people sectors to consider challenges, collaborate on ideas and co-create new solutions.
      
.platforms
  .row
    .col-md-12
      %h2.text-center.text-uppercase
        Platforms
  .row
    .col-md-4
      .thumbnail.no-border
        %img{:src=>"images/mobilemovies_logo.png"}
        .caption
          %h3.text-center
            Mobile Movies
          %p
            Local agents screen entertaining and educational films, introduce
            beneficial products and collect data to document positive impacts, in rural communities
            across Asia.

    .col-md-4
      .thumbnail.no-border
        %img{:src=>"images/moar_logo.png"}
        .caption
          %h3.text-uppercase.text-center.italic
            Moar!
          %p
            A match-making service between people who want a fun way to earn extra cash via their
            smartphone, and curious companies that need fast reliable data.

    .col-md-4
      .thumbnail.no-border
        %img{:src=>"images/rural_logo.png"}
        .caption
          %h3.text-center
            Rural Innovation Labs
          %p
            Data-driven rapid prototyping and iteration in search of effective and financially sustainable
            ways to engage rural communinties, empower people and improve lives.

.approach
  .row
    .col-md-12
      %h2.text-center.text-uppercase
        Approach
  .row
    .col-md-3
      .thumbnail.no-border
        %img{:src=>"images/nfc_logo.png", :width=>"100px"}
        .caption
          %h3.text-center.text-uppercase
            Mobile
          %p
            We live in a mobile world - because the next billion consumers are mobile consumers.
            We create context-triggered experiences, delivered by intuitive mobile platforms.

    .col-md-3
      .thumbnail.no-border
        %img{:src=>"images/media_logo.png", :width=>"100px"}
        .caption
          %h3.text-center.text-uppercase
            Entertaining
          %p
            We use humor, song and dance, sports, prizes and other participatory activities at every level
            of engagement because it's fun and effective.


    .col-md-3
      .thumbnail.no-border
        %img{:src=>"images/muscle_logo.png", :width=>"100px"}
        .caption
          %h3.text-center.text-uppercase
            Empowering
          %p
            We measure our success on the triple bottom line. Our platforms create empowering work opportunities,
            and introduce beneficial new products and services.

    .col-md-3
      .thumbnail.no-border
        %img{:src=>"images/magnify_logo.png", :width=>"100px"}
        .caption
          %h3.text-center.text-uppercase
            Data-driven
          %p
            We love data. We're collectors, not hoarders. We'll source the data you need and deliver raw files,
            boardroom-ready reports or beautiful visualizations.
.partners
  .row
    .col-md-12
      %h2.text-center.text-uppercase
        Partners

  .row
    .col-md-3
      .thumbnail.partner
        %img{:src=>"images/mindshare_logo.png"}

    .col-md-3
      .thumbnail.partner
        %img{:src=>"images/maxus_logo.png"}

    .col-md-3
      .thumbnail.partner
        %img{:src=>"images/unilever_logo.png"}

    .col-md-3
      .thumbnail.partner
        %img{:src=>"images/fc_logo.png"}
  .row
    .col-md-3
      .thumbnail
        %img{:src=>"images/microsoft_logo.png"}

    .col-md-3
      .thumbnail
        %img{:src=>"images/kopernik_logo.png"}

    .col-md-3
      .thumbnail
        %img{:src=>"images/kopernik_logo.png"}

    .col-md-3
      .thumbnail
        %img{:src=>"images/kopernik_logo.png"}

.press
  .row
    .col-md-12
      %h2.text-center.text-uppercase
        Press  
  .row
    .col-md-3
      .thumbnail
        %img{:src=>"images/techcrunch_logo.png"}

    .col-md-3
      .thumbnail
        %img{:src=>"images/fastcompany_logo.png"}

    .col-md-3
      .thumbnail
        %img{:src=>"images/techcrunch_logo.png"}

    .col-md-3
      .thumbnail
        %img{:src=>"images/techcrunch_logo.png"}
        
    
  

        




        
