%html
  %head
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel=>"stylesheet"}
    = css :application
  %body
    .container-fluid
      .row.equal
        .col-md-6
          %img{:src=>"images/nextbillion.png", :width=>"150px"}

        .col-md-6.vertical-align
          %nav.menu
            %a
              Home
            %a
              Platforms
            %a
              Blog
            %a
              Contact

        
      = yield
    
