%html
  %head
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel=>"stylesheet"}
    = css :application
  %body
    .container-fluid
      .row.equal
        .col-md-6
          %img{:src=>"images/nextbillion.png", :width=>"150px"}

        .col-md-6.vertical-align
          %nav.menu
            %a
              Home
            %a
              Platforms
            %a
              Blog
            %a
              Contact

        
      = yield
      
      .get_in_touch      
        .row
          .col-md-12
            %h2.text-center.text-uppercase
              Get in touch

            %p.text-center
              Let's chat about engaging your Next Billion customers.

        .row
          .col-md-3.text-center
            %img{:src=>"images/socialmedia_mail.png"}

          .col-md-3.text-center
            %img{:src=>"images/socialmedia_linkedin.png"}

          .col-md-3.text-center
            %img{:src=>"images/socialmedia_facebook.png"}

          .col-md-3.text-center
            %img{:src=>"images/socialmedia_twitter.png"}

      .footer
        .row
          .col-md-12
            %p.text-center
              Copyright © Next Billion Pte Ltd - a Newton Circus company
              
    
