.rural
  .row.equal
    .col-md-1.vertical-align
      %img{:src=>"images/rural_logo.png", :width=>"80px"}

    .col-md-11.vertical-align.no-reverse
      %h2.text-left
        Rural Innovation Lab
        
.rural_about
  .row
    .col-md-6
      %h3
        Rural Innovation Lab
      %p
        Rural Innovation Labs utilize the Mobile Movies platform on small scales to enable companies and
        organizations to rapidly prototype new technologies and engagement strategies that benefit bottom of the
        pyramid communities.

      %p
        Data-driven approaches to conducting Rural Innovation Lab experiments emphasize extensive A/B testing and
        uncover the minimum effective dose for triggering desired community results.

      %p
        Leveraging insights from data collection enables partners to rapidly iterate engagement strategies,
        make continous improvements in real time, and build responsive, two-way relationships with rural communities.
      %p
        Rural Innovation Labs leverage Next Billion's existing local partner network across Southeast Asia, India
        and East Africa

    .col-md-6.text-left
      %img{:src=>"images/rural_innovation.png", :width=>"450px", :class=>"img-responsive"}
      

   
      
    
        
  
